@font-face {
    font-family: "Mister Bones NF W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/a9b13812589c215d377ebb01053347c2.eot");
    src: url("https://db.onlinewebfonts.com/t/a9b13812589c215d377ebb01053347c2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a9b13812589c215d377ebb01053347c2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a9b13812589c215d377ebb01053347c2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a9b13812589c215d377ebb01053347c2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a9b13812589c215d377ebb01053347c2.svg#Mister Bones NF W01 Regular")format("svg");
}

:root {
    --h1-font-size: calc(30px + 90 * (100vw - 330px) / 1110);
    --icons-size: calc(15px + 20 * (100vw - 330px) / 1110);
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    overflow: hidden;

    @media (max-width: 500px) {
        align-items: center;
    }
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;

    @media (max-width: 500px) {
        margin-left: 0;
    }
}

h1 {
    font-family: "Mister Bones NF W01 Regular", serif;
    font-size: var(--h1-font-size);
    word-wrap: break-word;
    font-weight: normal;
    direction: ltr;
    width: min-content;
    color: red;
    user-select: none;
}

p {
    color: black;
}


#contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: calc(var(--icons-size) / 4);
    margin-left: calc(var(--icons-size) / 4);
    gap: calc(var(--icons-size));
    list-style: none;

    @media (max-width: 500px) {
        justify-content: flex-end;
    }
}

#contact a {
    display: block;
    height: var(--icons-size);
    width: var(--icons-size);
}

#contact #icon-github {
    background: url("../public/img/icon-github.svg") no-repeat top left;
    background-size: contain;
}

#contact #icon-spotify {
    background: url("../public/img/icon-spotify.svg") no-repeat top left;
    background-size: contain;
}

#contact #icon-vkontakte {
    background: url("../public/img/icon-vkontakte.svg") no-repeat top left;
    background-size: contain;
}

#contact #icon-telegram {
    margin-left: -0.25em;
    background: url("../public/img/icon-telegram.svg") no-repeat top left;
    background-size: contain;
}

#contact #icon {
    margin-left: -0.25em;
    background: url("../public/img/icon.svg") no-repeat top left;
    background-size: contain;
}

