@font-face {
    font-family: 'Klarissa Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Klarissa Regular'), url('fonts/klarissa/Klarissa.woff') format('woff');
}


@font-face {
    font-family: 'Klarissa Contour Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Klarissa Contour Regular'), url('fonts/klarissa/KlarissaContour.woff') format('woff');
}


@font-face {
    font-family: 'Klarissa Shadow Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Klarissa Shadow Regular'), url('fonts/klarissa/KlarissaShadow.woff') format('woff');
}


@font-face {
    font-family: 'Simplement';
    font-style: normal;
    font-weight: normal;
    src: local('Simplement'), url('fonts/simplement/simplement.woff') format('woff');
}


@font-face {
    font-family: 'Shatter';
    font-style: normal;
    font-weight: normal;
    src: local('Shatter'), url('fonts/shatterstd/shatterstd.woff') format('woff');
}


* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    font-size: medium;
    /*overflow: hidden;*/
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.3em;
}

/*hr {*/
/*    color: white;*/
/*    border: 0.05em solid white;*/
/*    border-radius: 0.05em;*/
/*    box-shadow: 0 0 0.07em #ffffff;*/
/*}*/

/**/

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 0.1em solid white;
    box-shadow: 0 0 0.07em #ffffff;
    border-radius: 0.05em;
    text-align: center;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

/**/

.info {
    font-family: Arial, sans-serif;
    font-size: small;
    font-weight: 0;
    text-align: left;
    text-shadow: 0 0 0.05em #ffffff;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    height: 100vh;
}

.sparkle {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
}

#sparkle-top-right {
    top: 0.8em;
    right: 0.5em;
}

#sparkle-top-left {
    top: 0.8em;
    left: 0.5em;
}

#sparkle-bottom-right {
    bottom: 0.8em;
    right: 0.5em;
}

#sparkle-bottom-left {
    bottom: 0.8em;
    left: 0.5em;
}

#title {
    /*width: 100%;*/
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.05rem;
    font-size: calc(40px + 30 * (100vw - 330px) / 1110);
    letter-spacing: -0.05em;
    color: white;
    text-shadow: 0 0 0.07em #ffffff;
}

#the {
    padding-top: 0.1em;
    font-family: 'Shatter', serif;
    font-size: 1em;
}

#sokolovsky {
    font-family: 'Klarissa Regular', serif;
    font-size: 0.85em;
}

/*#title:hover {*/
/*    text-decoration: underline;*/
/*    text-decoration-thickness: 0.02em;*/
/*    text-decoration-color: rgba(255, 255, 255, 0.5);*/
/*    cursor: pointer;*/
/*}*/

#card-external {
    width: calc(270px + 250 * (100vw - 330px) / 1110);
    height: calc(250px + 100 * (100vw - 330px) / 1110);
    /*background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);*/
    /*background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);*/
    /*background-blend-mode: multiply,multiply;*/
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
    box-shadow: 0 0 20px #7883f1;
    border-radius: 1em;
    padding: 0.5em;
    opacity: 0.9;
}

#card-internal {
    display: block;
    width: 100%;
    padding: 0.5em;
    height: calc(100% - 2 * 0.5em);
    font-family: 'Simplement', serif;
    font-size: 1.25em;
    color: white;
    text-shadow: 0 0 0.07em #ffffff;
    text-align: center;
    background: transparent;
    border: white 0.01rem solid;
    border-radius: 0.5rem;
}

#contact {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    list-style: none;
    position: absolute;
}

#contact a {
    position: relative;
    display: block;
    width: 2em;
    height: 2em;
}

#contact #icon-github {
    background: url("../public/img/icon-github.svg") no-repeat top left;
    background-size: contain;
}

#contact #icon-spotify {
    background: url("../public/img/icon-spotify.svg") no-repeat top left;
    background-size: contain;
}

#contact #icon-vkontakte {
    background: url("../public/img/icon-vkontakte.svg") no-repeat top left;
    background-size: contain;
}

#contact #icon-telegram {
    margin-left: -0.25em;
    background: url("../public/img/icon-telegram.svg") no-repeat top left;
    background-size: contain;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
}